body {
    margin: 0;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
}

.login-box {
    width: 300px;
    padding: 30px;

    background-color: white;
    border-radius: 10px;

    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-box h2 {
    text-align: center;
}

.login-box input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;

    box-sizing: border-box;
}

.login-box button {
    width: 100%;
    padding: 10px;

    border: none;
    background-color: #247cff;
    color: white;

    cursor: pointer;
}

.login-box button:hover {
    background-color: #145fc4;
}

#message {
    text-align: center;
    margin-top: 15px;
}